{% extends 'movies/base.html' %}
{% load static %}

{% block title %}
    Welcome | MyMovieList
{% endblock %}

{% block content %}
    <div class="d-flex flex-row justify-content-end flex-wrap">
        {% for movie in movies %}
            <div class="movie alert alert-primary m-2 w-25" align="center">
                <img src="{{ movie.poster.url }}" alt="{{ movie.title }} poster">
                <h3 class="text-wrap">{{ movie.title }}
                ({{ movie.year }})</h3>
            </div>
        {% endfor %}
    </div>
{% endblock %}